@font-face {
  font-family: 'NeoDungGeunMo';
  src: url('neodgm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'neoDungGeunMo';
  background-color: darkblue;
  color: white;
}

html {
  font-size: 15px;
}

.wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: fit-content;
}

.main-contents {
  padding: 1vw;
}

.side-contents {
  padding: 1vw;
  font-size: 1.6rem;
}

.main-board {
  border: 2px solid white;
}

.next-board {
  border: 2px solid white;
}