* {
    margin: 0.1em;
    padding: 5px;
}


.container {
    background-color: blue;
    color: lightgray;
    display: block;
    /* display: flex; */
    /* display: inline-flex; */
    /* display: grid; */
    width: 300px;
    height: 100vh;
    align-content: flex-end;
}
