body {
  font-size: 1em;
}

div {
  display:  block;
  /* width: 300px; */
  /* height: 100px; */
  background-color: orange;
}

span {
  display: inline;
  background-color: lightblue;
  /* width: 200px;
  height: 50px; */
}

section {
  display: inline;
  background-color: green;
  /* width: 200px;
  height: 50px; */
}

a {
  display: inline;
  background: darkmagenta;
  /* width: 200px;
  height: 50px; */
}

